// Flexbox Between
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Flexbox Center
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Grid 3 Columns
@mixin grid-2columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
}
@mixin grid-3columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
@mixin grid-4columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}